<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
      <link rel="stylesheet" href="css/style.css">

</head>
<body>
    {{> header}}
   <div class="container_Service">
   <h1>Our <span>Services</span></h1>
    <div class="cards_Service">
        <div class="card_Service">
<img src="https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
<h3>Design-build</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque numquam modi dignissimos nisi porro similique!</p>
<div class="btn_Service">More</div>
        </div>
        <div class="card_Service">
            <img src="https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h3>Construction</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati!</p>
            <div class="btn_Service">More</div>

        </div>
        <div class="card_Service">
            <img src="https://images.pexels.com/photos/9512003/pexels-photo-9512003.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h3>Remodeling</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati!</p>
            <div class="btn_Service">More</div>
        </div>
        <div class="card_Service">
            <img src="https://images.pexels.com/photos/8961065/pexels-photo-8961065.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h3>City Spaces</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati!</p>
            <div class="btn_Service">More</div>
        </div>
        <div class="card_Service">
            <img src="https://images.pexels.com/photos/224924/pexels-photo-224924.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h3>Civil Engineer's</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati!</p>
            <div class="btn_Service">More</div>
        </div>
        <div class="card_Service">
            <img src="https://images.pexels.com/photos/271667/pexels-photo-271667.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h3>Archticture</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati!</p>
            <div class="btn_Service">More</div>
        </div>
        <div class="card_Service">
            <img src="https://images.pexels.com/photos/4513940/pexels-photo-4513940.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h3>Workspaces</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati!</p>
            <div class="btn_Service">More</div>
        </div>
        <div class="card_Service">
            <img src="https://images.pexels.com/photos/2098624/pexels-photo-2098624.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h3>Housing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati!</p>
        <div class="btn_Service">More</div>
        </div>
        <div class="card_Service">
            <img src="https://images.pexels.com/photos/4792479/pexels-photo-4792479.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati!</p>
        <div class="btn_Service">More</div>
        </div>
 </div>
 </div>
  {{> footer}}


</body>
</html>